<%= render 'form' %>

<% if @requirements_string != nil %>
<p>
<%= @requirements_string.html_safe %>
</p>
<% end %>

<% if @recommendations != nil && @recommendations.size > 0 %>
	<strong>Maybe Try...</strong>
	<div class="recommendations">
		<% @recommendations.each do |recommendation| %>
			<%= render :partial => 'recommendation', :locals => { :recommendation => recommendation } %>
		<% end %>
	</div>
<% end %>
<br/>
<%= link_to 'Back To Builds', builds_path, {:class => 'btn'} %>
