<p><strong>Welcome to the Monster Hunter 3 Ultimate Armor Calculator</strong></p>
<p>This is a tool meant to assist you in crafting Monster Hunter armor sets with the skills you crave,
even if that means a build made of mismatched parts and a fashion disaster.</p>
<p>To get started, you may want to input your Talismans so they can be used by the calculator.  Once you're
ready, go to Builds and start making a new build!  You can select armor pieces manually or you can designate some preferred
skills and the calculator will make suggestions for you.</p>
<%= image_tag 'dancing_neko.gif' %>